<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LockBox - Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" method="post">
        <label>Username:</label><input name="username" required><br>
        <label>Password:</label><input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}    
    <a href="/signup">Sign Up Now</a>

    <script>
        document.getElementById('loginForm').onsubmit = function() {
            const masterPassword = document.getElementById('password').value;
            sessionStorage.setItem("master_key", masterPassword);
            return true; 
        };
    </script>
</body>
</html>